<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intellie.data.provider.dao.question.QuestionInfoDao">
    <select id="queryQuestionList" parameterType="com.intellie.data.entity.question.QuestionQueryCondition"
            resultType="com.intellie.data.entity.question.Question">
        SELECT *
        FROM (
        SELECT eq.id, eq.title, eq.`type` AS typeId, eq.`time`, eq.`from`
        , eq.origin
        , CASE eq.`level`
        WHEN 1 THEN '简单'
        WHEN 2 THEN '一般'
        WHEN 3 THEN '中等'
        WHEN 4 THEN '较难'
        WHEN 5 THEN '极难'
        END AS `levelStr`, eq.`level`, eq.createtype, eq.owner, eq.site
        , eq.del, eqa.content, eqa.correct, eqa.`options`, eqt.name AS `type`,
        if ((eq.id in (
        select euq.question_id from e_user_questions euq where euq.user_id  = 1001
        )),'1','0') isadd
        FROM e_question eq
        LEFT JOIN e_question_attribute eqa ON eq.contentid = eqa.id
        LEFT JOIN e_question_type eqt ON eq.`type` = eqt.id
        ) a
        WHERE
        1=1
        <if test="key!=null and key!=''">
            and (
            a.content LIKE concat('%',#{key},'%')
            or
            a.title LIKE concat('%',#{key},'%')
            or
            a.type LIKE concat('%',#{key},'%')
            )
        </if>
        <if test="owner!=null and owner!=''">
            and a.owner = #{owner}
        </if>
    </select>
    <select id="queryUserQuestionList" parameterType="com.intellie.data.entity.question.QuestionQueryCondition"
            resultType="com.intellie.data.entity.question.Question">
        SELECT *
        FROM (
        SELECT euq.id, euq.user_id, euq.del, b.*
        FROM e_user_questions euq
        LEFT JOIN (
        SELECT eq.id AS question_id, eq.title, eq.`type` AS typeId, eq.`time`, eq.`from`
        , eq.origin
        , CASE eq.`level`
        WHEN 1 THEN '简单'
        WHEN 2 THEN '一般'
        WHEN 3 THEN '中等'
        WHEN 4 THEN '较难'
        WHEN 5 THEN '极难'
        END AS `levelStr`, eq.`level`, eq.createtype, eq.owner, eq.site
        , eqa.content, eqa.correct, eqa.`options`, eqt.name AS `type`
        FROM e_question eq
        LEFT JOIN e_question_attribute eqa ON eq.contentid = eqa.id
        LEFT JOIN e_question_type eqt ON eq.`type` = eqt.id
        ) b
        ON euq.question_id = b.question_id
        ) a
        WHERE
        1=1
        <if test="key!=null and key!=''">
            and (
            a.content LIKE concat('%',#{key},'%')
            or
            a.title LIKE concat('%',#{key},'%')
            or
            a.type LIKE concat('%',#{key},'%')
            )
        </if>
        <if test="owner!=null and owner!=''">
            and a.user_id = #{owner}
        </if>
        <if test="questionId!=null and questionId!=''">
            and a.question_id = #{questionId}
        </if>
    </select>
    <select id="queryUserQuestionIdList" parameterType="com.intellie.data.entity.question.QuestionQueryCondition"
            resultType="java.lang.String">
        select euq.question_id
        from
        exam.e_user_questions euq
        where
        euq.user_id = #{owner}
    </select>
</mapper>